<nav class="container navbar navbar-expand-lg navbar-light bg-light " style="margin-top: 30px;">
  <div class="collapse navbar-collapse navbar-text" id="navbarSupportedContent">
    <span class="navbar-text">
      <img width="150" alt="Examen" src="assets/img/examen.png">
    </span>
   <ul class="navbar-nav mr-auto">
      <li class="nav-item active" style="margin-left: 40px;">
        <button (click)="productos()" class="btn btn-outline-secondary my-2 my-sm-0" style="margin-top: 10px;">Productos</button>
      </li>
      <li class="nav-item active" style="margin-left: 20px;">
        <button (click)="pedidos()" class="btn btn-outline-secondary my-2 my-sm-0" style="margin-top: 10px;">  Pedidos </button>
      </li>
    </ul>
    <pedido-suma></pedido-suma>
   </div>
</nav>


<router-outlet></router-outlet>
